nav ul>li a {
    font-size: 16px;
    font-weight: 500;
    font-family: "Noto Serif";
}

.flownews-content-no-padding .flownews-container {
    padding: 0 56px;
}

.flownews-sidebar-right,
.flownews-posts-content-wrap {
    margin-top: 30px;
}